
.answer-btns-container{
    display: flex;
    column-gap:0.8em;
    border-bottom: 0.79px solid #DBDEF0;
    padding-bottom: 1em;
}

.question{
  max-width:90%;
  font-family: Karla;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5rem;
  text-align: left;
}
.question,.answer-btn{
    color: #293264;
}
.answer-btn{
    border: 1px solid #4D5B9E ;
    border-radius: 20px;
    font-family: Inter;
    font-size: 0.7rem;
    font-weight: 500;
    padding: 0.5em 1em;
    text-align: center;

}
@media (min-width:768px) {
    .question{
        font-size: 1.5rem;
    }
    .answer-btn{
        font-size: 1rem;
    }
}