.quiz-btn{
    background-color: #4D5B9E;
    font-family: Inter;
    font-weight: 600;
    font-size: 1rem;
    padding: 0.5em 1em;
    color: #F5F7FB;
    border-radius: 10px;
    border: none;
}
.quiz-results {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 1.25rem auto;
    font-family: Inter;
    font-weight: 700;
    color:#293264;
}